.img{
  margin: auto;
  width: 20px;
  height: 120px;
  padding: 10px;
  
}

.category{
  padding-bottom: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
  border-radius: 2px;
  padding: 0.5rem 1rem;

}

